{
        
    "//":"Full path of the directory for the Vault",
    "VaultDir":"C:\\Users\\UserName\\Obsidian\\Main",
    
    "//":"Directory name under the vault directory to store .md files",
    "MarkdownDir":"_email",

    "//":"Directory name under the vault directory for storing attachments",
    "AttachmentDir":"_resources",

    "//":"Directory to watch for new EML files",    
    "WatchDir":"C:\\Users\\UserName\\Obsidian\\Email"
}